{% extends "AppBundle:Admin:layout.html.twig" %}

{% block containerUsers %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Блокировка IP адреса</h2>
        <p><font size = "2" color="RED" face="Arial">Внимание! Данные внимательно заполнять и не допускать ошибок</font></p>
            {% if form is defined %} {{ form_start(form, {'method': 'post', 'action': path('banip')}) }}
                {{ form_widget(form) }} {% endif %}
                {% if msg is defined %}
                <font color="green">{{msg}}</font>
            {% endif %}
        </div>
    {% endblock %}